
.Calculator-div {
    width: 75%;
    margin: 0 auto;
}

.Buttons-div,
.PictureSize-div,
.Checkboxes-div {
    width: 100%;
}

.Painting-size-div,
.Buttons-div,
.Buttons-div-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Painting-size-div p {
    width: 30%;
}

.Painting-size {
    width: 70%;
}

.Painting-size input {
    width: 100%;
    min-height: 25px;
    height: 3vw;
    color: red;
}

.Warning-div {
    width: 50%;
    margin: 0 auto;
}



.Button-style {
    padding: 1vw 1vw 1vw 1vw;
}

.Button-style input {
    display: none;
}

.Button-style label {
    min-height: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--color-feldgrau-light);
    padding: 0.5vw 1vw 0.5vw 1vw;      
    box-shadow: 0 0 2vw 0.2vw rgba(0,0,0,0.1);
    border: 0.08vw solid var(--color-feldgrau-light);
    border-radius: 0.5vw;
    transition: 800ms;
    user-select: none;
    background: linear-gradient(var(--color-grey-medium), var(--color-greyred-medium));
}

.Button-style input:checked + label {
    background: linear-gradient(0deg, var(--color-platinum-dark) 0%, var(--color-greyred-medium) 90%, var(--color-grey-light) 100%);
    color: white;
    border: 0.08vw solid var(--color-greyred-dark);
}

@media (min-width: 1000px){
    .Button-style label:hover {
        transform: scale(1.1);
        color: var(--color-vermilion-light);
        box-shadow: 0 0 2vw 0.5vw rgba(0,0,0,0.1),inset 0 0 7vw 10vw rgba(0,0,0,0.1);
        border: 0.08vw solid var(--color-vermilion-light);
    }
}


.Painting-size input {
    -webkit-appearance: none;
    background: none;
}

.Painting-size input:focus {
    outline: none;
}

.Painting-size input::-webkit-slider-runnable-track {
    height: 1vw;
    min-height: 15px;
    cursor: pointer;
    background: linear-gradient(90deg, var(--color-platinum-medium) 0%, var(--color-greyred-medium) 100%);
    border-radius: 2vw;
    box-shadow: 0 0 2vw 0.3vw rgba(0,0,0,0.1);
}

.Painting-size input:focus::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, var(--color-terracot-medium) 0%, var(--color-greyred-dark) 100%);
}

.Painting-size input::-webkit-slider-thumb {
    border: 0.1vw solid white;
    height: 1.5vw;
    min-height: 20px;
    aspect-ratio: 1.5 / 1;
    border-radius: 5vw;
    background: radial-gradient(circle, var(--color-grey-dark) 0%, var(--color-greyred-medium) 100%);
    cursor: grabbing;
    -webkit-appearance: none;
    box-shadow: 0 0 2vw 0.3vw rgba(0,0,0,0.1);
    bottom: 15%;
    position: relative;
}

.Painting-size input:focus::-webkit-slider-thumb {
    background: radial-gradient(circle, var(--color-greyred-light) 0%, var(--color-grey-medium) 100%);
}


.Option-item input {
    display: none;
}

.Option-item label {
    color: var(--color-feldgrau-light);
    padding-left: 4vw;
}

.Option-item input + label {
    display: block;
    position: relative;
    margin-bottom: 1.5vw;
    cursor: pointer;
}

@media (min-width: 1000px) {

    .Option-item input:hover + label:before {
        background: linear-gradient(45deg, var(--color-grey-light) 0%, var(--color-platinum-dark) 35%, var(--color-greyred-medium) 100%);
        box-shadow: inset 0 0 0 0.1vw white;
    }
}
.Option-item input + label:before {
    content: "";
    position: absolute;
    height: 1.5vw;
    min-height: 20px;
    aspect-ratio: 1 / 1;
    border: 0.15vw solid var(--color-greyred-dark);
    border-radius: 10vw;
    left: 0;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: var(--color-greyred-light);
    box-shadow: 0 0 2vw 0.3vw rgba(0,0,0,0.1);
}

.Option-item input:checked + label:before {
    height: 1.5vw;
    min-height: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 10vw;
    border: 0.15vw solid var(--color-greyred-medium);
    transform: rotate(270deg);
    background: linear-gradient(45deg, var(--color-grey-light) 0%, var(--color-terracot-dark) 35%, var(--color-greyred-medium) 100%);
    box-shadow: 0 0 2vw 0.3vw rgba(0,0,0,0.1), inset 0 0 0 0.1vw white;
}

.Option-item input:checked + .Option-item label {
    color: var(--color-vermilion-light);
}

.Alert {
    letter-spacing: 1.5vw;
    font-family: Arial;
}

.Result {
    font-weight: bold;
}

.ContactsPage-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 1vw 0 3vw 0;
}

.Contacts-content {
    margin: 0 auto;
    width: 70%;
}

.Contacts-item {
    display: flex;
}

.ContactsPage-div .QR-code {
    width: 30%;
    min-width: 200px;
    aspect-ratio: 1 / 1;
    padding: 5% 5% 5% 5%;
    margin: 0 auto;
}

.ContactsPage-div .QR-code svg {
    width: 100%;
    height: 100%;
    color: var(--color-vermilion-light);
}

.Social-resource {
    width: 30%;
}

.Social-contact {
    width: 70%;
}

.Contacts-content p,
.Social-contact a {
    display: flex;
    margin-block-start: 0.8vw;
    margin-block-end: 0.8vw;
}

@media (max-width: 999.99px) {

    .Buttons-div {
        display: block;
    }

    .Calculator-div {
        width: 90%;
    }

    .ContactsPage-div {
        display: block;
    }

    .Contacts-item {
        display: block;
        padding-top: 2vw;
    }

    .Contacts-content {
        width: 90%;
    }

    .Social-resource,
    .Social-contact {
        width: 100%;
    }

    .Painting-size-div {
        display: block;
    }

    .Painting-size-div p,
    .Painting-size {
        width: 100%;
    }

    .PictureSize-div,
    .Options-div {
        margin-bottom: 10vw;
    }

    .Option-item input + label {
        margin-bottom: 3vw;
    }

    .Option-item label {
        padding-left: 12vw;
    }

    .Warning-div {
        width: 100%;
    }

    @media (max-width: 499.99px) {
        .Buttons-div-item {
            display: block;
        }

        .Button-style {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.Email-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slideshow {
    margin-left: 10%;
    aspect-ratio: 1 / 1.5;
    position: relative;
}

.Slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: slideanim 50s infinite;
    pointer-events: none;
}

.Slide img {
    height: 100%;
    animation: zoom 50s infinite;
}

.Slide:nth-child(1) img,
.Slide:nth-child(3) img,
.Slide:nth-child(5) img,
.Slide:nth-child(7) img,
.Slide:nth-child(9) img {
    transform: translateX(20%);
}

.Slide:nth-child(2) img,
.Slide:nth-child(4) img,
.Slide:nth-child(6) img,
.Slide:nth-child(8) img,
.Slide:nth-child(10) img {
    transform: translateX(-20%);
}

@keyframes slideanim {
    10% {
        opacity: 1;
        pointer-events: auto;
    }

    22% {
        transition: 3s;
        opacity: 0;
    }
}

@keyframes zoom {
    30% {
        transform: scale(1.2);
    }
}

.Slide:nth-child(1),
.Slide:nth-child(1) img {
    animation-delay: 0;
}

.Slide:nth-child(2),
.Slide:nth-child(2) img {
    animation-delay: 5s;
}

.Slide:nth-child(3),
.Slide:nth-child(3) img {
    animation-delay: 10s;
}

.Slide:nth-child(4),
.Slide:nth-child(4) img {
    animation-delay: 15s;
}

.Slide:nth-child(5),
.Slide:nth-child(5) img {
    animation-delay: 20s;
}

.Slide:nth-child(6),
.Slide:nth-child(6) img {
    animation-delay: 25s;
}

.Slide:nth-child(7),
.Slide:nth-child(7) img {
    animation-delay: 30s;
}

.Slide:nth-child(8),
.Slide:nth-child(8) img {
    animation-delay: 35s;
}

.Slide:nth-child(9),
.Slide:nth-child(9) img {
    animation-delay: 40s;
}

.Slide:nth-child(10),
.Slide:nth-child(10) img {
    animation-delay: 45s;
}

.Email-head {
    padding: 1vw 0 1vw 0;
}

.Form-item {
    padding-bottom: 2.5vw;
}


.Email-content {
    width: 100%;
}

.Form-email,
.Slideshow {
    width: 40%;
}

.Form-email input {
    min-height: 40px;
    height: 2vw;
}

.Form-email textarea {
    min-height: 100px;
    height: 8vw;
}

.Form-email input,
.Form-email textarea {
    min-width: 50%;
    width: 100%;
    background: none;
    border: 0.1vw solid var(--color-feldgrau-light);
    outline: 0;
    cursor: pointer;
    transition: 800ms;
    font-family: Arial;
    padding: 0.5vw 1vw 0.5vw 1vw;
    box-shadow: 0 0 5vw 0.5vw rgba(0,0,0,0.1);
}

.Form-email input:hover,
.Form-email textarea:hover {
    box-shadow: inset 0 0 3vw 1vw var(--color-grey-medium);
}

.Form-email label {
    display: flex;
    padding-bottom: 1vw;
}

@media (max-width: 999.99px) {
    .Slideshow {
        display: none;
    }

    .Form-email {
        width: 80%;
    }
}